@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

:root {
    --black: #121212;
    --white: #FFF;
    --gray1: #888888;
    --gray2: #444444;
    --green: #1D7E05;
    --red: #FF0000;
    --blue: #29ABE0;
    --yellow: #d3dc1fd7;
}

* {
    margin: 0;
    padding: 0;
    word-break: keep-all;
    visibility: visible;
}

body {
    background-color: var(--black);
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Jua', sans-serif;
}

header {
    margin-right: auto;
    margin-left: auto;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    max-width: 50rem;
}

header .header-container button {
    all: unset;
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    margin-left: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

h1 {
    color: var(--white);
    text-align: center;
}

.popup {
    width: 370px;
    background: var(--gray2);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    text-align: center;
    padding: 30px 30px;
    color: var(--white);
    display: none;
}
.open-popup {
    display: block;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup p a {
    text-decoration: none;
    color: var(--white);
}

.popup button {
    all: unset;
    border-radius: 5px;
    width: 3rem;
    height: 2rem;
    margin-top: 15px;
    text-align: center;
    background: var(--blue);
}

.show {
    height: 100%;
}

.noshow {
    height: 0%;
}

.main-container {
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container .guess {
    width: 80%;
    max-width: 500px;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
}

.main-container .guess .text {
    font-size: 1.5rem;
    text-align: center;
    color: var(--white);
}

.main-container .inactive .text {
    border: 1px solid var(--gray1);
}
.main-container .active .text {
    border: 1px solid var(--white);
}

.main-container .guess .state {
    height: 30px;
    width: 10%;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}

.main-container .guess #artist {
    height: inherit;
    width: 30%;
}
.main-container .guess #title {
    height: inherit;
    width: 50%;
}

.sub-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container .answer {
    margin-bottom: 15px;
}

.sub-container .answer h3 {
    text-align: center;
    color: var(--white);
}

.sub-container .answer #cpytxt {
    height: 15px;
    text-align: center;
    font-size: 14px;
    color: var(--gray2);
}

.sub-container #reaction {
    text-align: center;
    color: var(--gray1);
    font-size: 13px;
    margin-bottom: 10px;
}

.sub-container #history {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.sub-container #history .historyBox {
    width: 20px;
    height: 3px;
    background-color: var(--gray2);
    margin-right: 5px;
}

.sub-container .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container .button-container button {
    all: unset;
    border-radius: 5px;
    width: 3rem;
    height: 2rem;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container .button-container #replay {
    font-size: 0.8rem;
    background: var(--green);
    color: var(--white);
}

.sub-container .button-container #share {
    font-size: 1rem;
    background: var(--gray1);
    color: var(--white);
}

iframe {
    display: none;
}

.music-player-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15rem;
    overflow: hidden;
    color: var(--white);
}

.music-player-container .progress-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 12px;
    background-color: var(--black);
    margin-bottom: 20px;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}

.music-player-container .progress-bar {
    position: absolute;
    height: 14px;
    top: 0;
    left: 2px;
    width: 1%;
    background-color: var(--white);
    z-index: 10;
}

.music-player-container .progress-container .bg-container {
    height: inherit;
    background-color: var(--black);
    border: 1px solid var(--white);
    display: flex;
}
.music-player-container .progress-container .bg-container .progress-bg {
    height: inherit;
    border-right: 2px solid var(--white);
    margin: 0;
}

.bg-container .active {
    background-color: var(--gray1);
}
.bg-container .inactive {
    background-color: var(--black);
}

#bg1 {
    border-left: 2px solid var(--white);
    width: 6.25%;
}
#bg2 {
    width: 6.25%;
}
#bg3 {
    width: 12.5%;
}
#bg4 {
    width: 18.75%;
}
#bg5 {
    width: 25%;
}
#bg6 {
    width: 31.25%;
}

.music-player-container .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.music-player-container .input-container button {
    all: unset;
    border-radius: 5px;
    width: 3rem;
    height: 2rem;
    margin-left: 10px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player-container .input-container #submit {
    background: var(--green);
    color: var(--white);
}
.music-player-container .input-container #skip {
    background: var(--gray1);
    color: var(--white);
}

.music-player-container #play-music {
    all: unset;
    color: var(--white);
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player-container input {
    appearance: none;
    outline: none;
    background: none;
    color: var(--white);
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    border: 1px solid var(--white);
    margin: 5px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    text-align: center;
}

.music-player-container input::placeholder {
    text-align: center;
    font-family: 'Jua', sans-serif;
    color: var(--gray1);
}

#title-input {
    width: 13rem;
}
#artist-input {
    width: 8rem;
}